<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/setUp.js"></script>
  </head>
  <body>
    <h1 id="userName"></h1>
    <section id="activities"></section>
    <section id="segments"></section>
  </body>
</html>
