<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/setUp.js"></script>
</head>
<body>
	<h1 id="userName"></h1>
	<section id="activitiesSection">
		<h1>Activities</h1>
		<div id="activities"></div>
	</section>

	<section id="segmentSection">
		<h1>Segments</h1>
		<div id="segments"></div>
	</section>

	<section id="routesSection">
		<h1>Routes</h1>
		<div id="routes"></div>
	</section>
</body>
</html>
